body {
    background-image: url('flight.jpg'); /* Source: iStockPhoto */
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    margin-top: 400px;
    background-color: rgb(0, 0, 0);
    opacity: 0.8;
    color: #fff;
    padding: 50px;
}

.btn-primary {
    margin: auto;

}

/* Divs */
.top-20 {
    margin-top: 20px;
}

.top-21 {
    margin-top: 40px;
}
/* END */

h1 {
    color: rgb(249, 199, 199);
    opacity: 0.8;
}

h4 {
    color: rgb(249, 199, 199);
    opacity: 0.8;
}

h5 {
    color: rgb(249, 199, 199);
    opacity: 0.8;
}

/* Register Airline and Flight Titles */
h6 {
    color: rgb(249, 199, 199);
    opacity: 0.8;
}

.register-form {
    margin-top: 50px;
}
/* END */

section {
    margin-bottom: 50px;
}

/* Operating staus labels*/
.field {
    font-weight: bold;
    text-align: right;
    color: rgb(249, 199, 199);
    opacity: 0.8;
}

.field-value {
    color: #0e7fa8;
    opacity: 0.8;
    font-weight: bold;
    font-size: 18px;
}
/* END */

label.form {
    font-size: 14px;
}

input[type = text] {
    margin-left: 30px;
    margin-right: 30px;
}