body {
    background-image: url('flight.jpg'); /* Source: iStockPhoto */
    background-repeat: no-repeat;
    background-size: cover;
}

.container1 {
    margin-top: 200px;
    background-color: rgb(0, 0, 0);
    opacity: 0.8;
    color: #fff;
    padding: 50px;
    margin: 100px;
}

.container2 {
    margin-top: 200px;
    background-color: rgb(0, 0, 0);
    opacity: 0.8;
    color: #fff;
    padding: 50px;
    margin: 100px;

}

/* Buttons */
.btn-primary {
    margin: auto;
    opacity: 0.9;
}

#data-operational-status-on { margin-top: 30px; }
#data-operational-status-off { margin-top: 30px; }
#app-operational-status-on { margin-top: 30px; }
#app-operational-status-off { margin-top: 30px; }

#submit-airline {
    position: absolute;
    right: 20%
}

#submit-oracle {
    position: absolute;
    right: 20%
}

/* END */


/* Divs */
/* Note that the margin is top, right, bot, left */

/* .top-20 {
    margin-top: 20px;
} */
#input-flight-ID-div { margin-top: 30px; }
#input-airline-ID-div { margin-top: 20px }
.top-21 {
    margin-top: 40px;
}
/* END */

h1 {
    color: rgb(249, 199, 199);
    opacity: 0.8;
}

h4 {
    color: rgb(249, 199, 199);
    opacity: 0.8;
}

h5 {
    color: rgb(249, 199, 199);
    opacity: 0.8;
}

/* Sections */

section {
    margin-bottom: 50px;
}

/* END */

/* Labels */

.field {
    font-weight: bold;
    text-align: right;
    color: rgb(249, 199, 199);
    opacity: 0.8;
}

.field-value {
    color: #0e7fa8;
    opacity: 0.8;
    font-weight: bold;
    font-size: 18px;
}

/* END */

/* Inputs */

input[type = text] {
    opacity: 0.4;
    text-align: center;
    width: 50%; 
}


/* END */

/* Placeholder */
::placeholder {
    color:rgb(0, 0, 0);
    opacity: 1;
}